<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="successMessage">
                    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
                </div>
                <div class="col-lg-12">
                    <div id="default">
                        <div class="card mb-4">
                            <div class="card-header">Create-Test</div>
                            <div class="card-body">
                                <div class="sbp-preview">
                                    <div class="sbp-preview-content">
                                        <form th:action="@{/Admin/saveQuiz}" method="POST" th:object="${ActionParams}">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group" th:each="fields: ${fieldTypeMap}" th:if="${fields.getKey()}!='id' and ${fields.getKey()} != 'quizNumber' and ${fields.getKey()} != 'courseName' and ${fields.getKey()} != 'subjectName'">
                                                        <input type="hidden" id="id" th:field="*{id}"/>
                                                        <input type="hidden" id="quizNumber" th:field="*{quizNumber}"/>
                                                        <input type="hidden" id="courseName" th:field="*{courseName}"/>
                                                        <input type="hidden" id="subjectName" th:field="*{subjectName}"/>
<!--                                                    <div class="form-group" th:if="${fields.getKey()=='quizNumber'}">-->
<!--                                                        <label class="control-label col-sm-8" th:text="${fields.getKey()}"></label>-->
<!--                                                        <div class="col-sm-10">-->
<!--                                                            <input type="text" th:field="*{__${fields.getKey()}__}" class="form-control"-->
<!--                                                                   th:value="${quizNumber}" style="font-family:'Courier'; font-size: 11px; width: 100%; border-radius: 4px; height: 30vh" />-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="form-group" th:if="${fields.getKey()=='course'}">-->
<!--                                                        <label class="control-label col-sm-8" th:text="${fields.getKey()}"></label>-->
<!--                                                        <div class="col-sm-10">-->
<!--                                                                <input type="text" th:field="*{__${fields.getKey()}__}" class="form-control"-->
<!--                                                                       th:value="${course}" style="font-family:'Courier'; font-size: 11px; width: 100%; border-radius: 4px; height: 30vh" />-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="form-group" th:if="${fields.getKey()=='subject'}">-->
<!--                                                        <label class="control-label col-sm-8" th:text="${fields.getKey()}"></label>-->
<!--                                                        <div class="col-sm-10">-->
<!--                                                            <input type="text" th:field="*{__${fields.getKey()}__}" class="form-control"-->
<!--                                                                   th:value="${subject}" style="font-family:'Courier'; font-size: 11px; width: 100%; border-radius: 4px; height: 30vh" />-->
<!--                                                        </div>-->
<!--                                                    </div>-->
                                                        <div class="form-group" th:if="${fields.getKey()=='questionTemplate'}">
                                                            <label class="control-label col-sm-8" th:text="${fields.getKey()}"></label>
                                                            <div class="col-sm-10">
                                                                <textarea type="text" th:field="*{__${fields.getKey()}__}" class="form-control"
                                                                          required="required" style="font-family:'Courier'; font-size: 11px; width: 100%; border-radius: 4px; height: 30vh"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group" th:if="${fields.getKey()=='answerTemplate'}">
                                                            <label class="control-label col-sm-8" th:text="${fields.getKey()}"></label>
                                                            <div class="col-sm-10">
                                                                <textarea type="text" th:field="*{__${fields.getKey()}__}" class="form-control" required="required" style="font-family:'Courier'; font-size: 11px; width: 100%; border-radius: 4px; height: 30vh"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10">
                                                            <input type="submit" class="btn btn-primary " value=" Submit "/>
                                                            <input type="reset" value="Reset" class="btn btn btn-secondary"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<script th:src="@{/js/template.js}"></script>

<script>
    $(document).ready(function () {
        $('.newBtn').click(function () {
            $('#actionModal').modal('show')
        });
    });
</script>
<script>
    $(document).ready(function(){
        $(".successMessage").delay(5000).slideUp(300);
    });
</script>

<script>
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>


</body>

</html>
