<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/header"></th:block>

<!-- Custom styles for this page -->
<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <th:block th:include="fragments/sidebarLeft"></th:block>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <th:block th:include="fragments/navbar"></th:block>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div id="df_Message" class="successMessage col-lg-12">
                    <div id="message1" th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
                </div>

                <div class="col-lg-12">
                    <div id="default-0">
                        <div class="card mb-4">
                            <div class="card-header">Find Property</div>
                            <div class="card-body">
                                <div class="sbp-preview">
                                    <div class="sbp-preview-content">
                                        <form method="POST" action="/updateProperty" class="form-inline">
                                            <div class="form-group" style="width: 80%;">
                                                <label for="text_property_name" style="margin-left: 3%;">Property Name:</label>
                                                <input type="text" id="text_property_name" class="form-control" required="required" style="width:45%;margin-left: 1.5%;"/>
                                                <input type="button" value="Find" class="btn btn-primary" style="margin-left:  0.5%;" onclick="getKey()"/>
                                                <input type="button" id="prop" value="ADD" class="btn btn-primary"  style="margin-left: 0.5%;" onclick="showDiv()"/>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12" id="pannel" style="display: none">
                    <div id="default">
                        <div class="card mb-4">
                            <div class="card-header">Add-Edit Property</div>
                            <div class="card-body">
                                <div class="sbp-preview">
                                    <div class="sbp-preview-content">
                                        <form th:action="@{/admin/updateOrchestratorProperty}" th:object="${orchestratorPropertyDTO}"
                                              method="post" class="form-horizontal">
                                            <div class="form-group">
                                                <!--<label class="control-label col-sm-2" for="text_id">Id</label>-->
                                                <div class="col-sm-10">
                                                    <input type="hidden" id="text_id" th:field="*{id}"
                                                           class="form-control input_disabled_id" style="width:40%;"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="text_property_name1">PropertyName</label>
                                                <div class="col-sm-10">
                                                    <input type="text" id="text_property_name1" th:field="*{propertyName}"
                                                           class="form-control input_disabled_id" required="required" style="width:40%;"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="text_property_value">PropertyValue</label>
                                                <div class="col-sm-10">
                                                    <input type="text" id="text_property_value" th:field="*{propertyValue}"
                                                           class="form-control input_disabled_id" required="required"
                                                           style="width:40%;"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="text_UpdatedBy">UpdatedBy</label>
                                                <div class="col-sm-10">
                                                    <input type="text" id="text_UpdatedBy" th:field="*{updatedBy}"
                                                           class="form-control input_disabled_id" required="required"
                                                           style="width:40%;"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-10">
                                                    <input type="submit" value="ADD" class="btn btn-primary" id="add"
                                                           onclick="addProperty()"/>
                                                    <input type="button" value="EDIT" class="btn btn-primary" id="edit" style="display:none;"
                                                           onclick="editProperty()"/>
                                                    <input type="submit" value="UPDATE" class="btn btn-primary" id="update" style="display:none;"
                                                           onclick="addProperty()"/>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <th:block th:include="fragments/footer"></th:block>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<th:block th:include="fragments/scripts"></th:block>


<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/datatables-demo.js}"></script>
<script th:src="@{/js/property.js}"></script>
</body>

</html>

