<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/header"></th:block>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <th:block th:include="fragments/sidebarLeft"></th:block>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <th:block th:include="fragments/navbar"></th:block>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="successMessage">
                    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
                </div>
                <div class="col-lg-12">
                    <div id="default">
                        <div class="card mb-4">
                            <div class="card-header">Edit User</div>
                            <div class="card-body">
                                <div class="sbp-preview">
                                    <form th:action="@{/user/search}" method="POST">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-8" th:text="Email"></label>
                                                    <div class="col-sm-10">
                                                        <input type="text" th:name="email" class="form-control"/>
                                                    </div>

                                                    <div class="col-sm-2"></div>
                                                    <div class="col-sm-10">
                                                        <input type="submit" class="btn btn-primary" value="Search"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="sbp-preview-content">
                                        <form th:action="@{/user/assign/role}" method="POST" th:object="${user}">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group" th:each="fields: ${fieldTypeMap}" th:if="${fields.getKey()}!='id'">
                                                        <input type="hidden" id="id" th:field="*{id}"/>
                                                        <div class="form-group" th:if="${fields.getKey()!='roles'
                                                                                       and fields.getKey()!='password'
                                                                                       and fields.getKey()!='enabled'}">
                                                            <label class="control-label col-sm-8" th:text="${fields.getKey()}"></label>
                                                            <div class="col-sm-10">
                                                                <input type="text" th:field="*{__${fields.getKey()}__}" class="form-control" required="required"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p>
                                                        <label>Roles:
                                                            <input type="checkbox" name="roles"
                                                                   th:each="role : ${allRoles}"
                                                                   th:text="${role.name}"
                                                                   th:value="${role.id}"
                                                                   th:field="*{roles}"
                                                            />
                                                        </label>
                                                    </p>
                                                    <div class="form-group">
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-10">
                                                            <input type="submit" class="btn btn-primary" value=" Submit "/>
                                                            <input type="reset" value="Reset" class="btn btn btn-secondary"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <th:block th:include="fragments/footer"></th:block>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<th:block th:include="fragments/scripts"></th:block>

</body>

</html>
