<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/header"></th:block>
<!-- Custom styles for this page -->
<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">


            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="successMessage">
                    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
                </div>
                <div class="col-lg-9">
                    <div id="default">
                        <div class="card mb-4">
                            <div class="card-header">Upload File/Video</div>
                            <div class="card-body">
                                <div class="sbp-preview">

                                    <div class="sbp-preview-content">
                                        <form th:action="@{/file/uploadFile/{course}/{subject}(course=${course},subject=${subject})}" method="post"
                                              enctype="multipart/form-data">
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="form-group" style="">
                                                        <select class="form-control" id="params" name="params"
                                                                style="" required>
                                                            <option value="">select template...</option>
                                                            <option th:each="config: ${params}"
                                                                    th:text="${config}"
                                                                    th:value="${config}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input"
                                                                   id="xls" name="file" required="required">
                                                            <label class="custom-file-label" for="xls">Choose
                                                                file</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                                                                style="height: 40px;width: 100%"
                                                                type="submit">
                                                            <i class="fas fa-upload fa-sm text-white-50"></i>Upload
                                                            File
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--   <div class="notes" style="color: red">
                       NOTES:
                       <ul>
                           <li>Address format : <b>Name|Address1|Address2|City|State|Pincode|Mobile|Landline</b></li>
                           <li>Do not use a semicolon(,) between Address1 and Address2</li>
                       </ul>
                   </div>-->


            </div>
            <!-- /.container-fluid -->


        </div>
        <!-- End of Main Content -->

        <th:block th:include="fragments/footer"></th:block>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<th:block th:include="fragments/scripts"></th:block>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/datatables-demo.js}"></script>

</body>

</html>
